# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
.coverage
htmlcov/
*.log

# Jupyter
.ipynb_checkpoints/

# Other
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.bak
*.swp
